//creating variable to use it in various classes and mixins


$brand-color: rgb(16, 223, 205);

$font-family2:'Courier New';

$font-family1: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

$font-color: black;

$font-family3: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

$bgcolor: white;

$border-color1: 1px solid black;

$gray-color: rgb(104, 109, 109);

$spacing: 1rem;

$themeColor: rgb(16, 223, 205);

$backColor: #ddd;

$textShadow: rgba(black, 0.35) 1px 1px 1px;